Repository metisjs/metis-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --fix --eslint-only

feat: sidebar menu
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/components/Access/index.tsx
  src/components/Footer/index.tsx
  src/components/LangSwitch/index.tsx
  src/components/ThemeSwitch/index.tsx
  src/layouts/MainLayout.tsx
  src/layouts/MainLayout/AvatarDropdown.tsx
  src/layouts/MainLayout/index.tsx
  src/locale/zh-CN.json
  src/main.tsx
  src/mocks/handlers/user.ts
  src/pages/Admin/index.tsx
  src/pages/Dashboard/index.tsx
  src/pages/Login/Banner.tsx
  src/pages/Login/Form.tsx
  src/pages/Login/index.tsx
  src/routes.tsx
  src/store/user.ts
  src/utils/menu.test.ts
  src/utils/menu.ts
Due: prettier --cache --write

style: update dark style
  src/layouts/MainLayout/index.tsx
  src/pages/Login/index.tsx
Due: none

feat: 添加Demo页面组件，添加权限控制和路由配置
  package.json
  pnpm-lock.yaml
  public/vite.svg
  src/components/PageContainer/index.tsx
  src/layouts/MainLayout/MenuConext.ts
  src/layouts/MainLayout/index.tsx
  src/locale/en-US.json
  src/locale/zh-CN.json
  src/mocks/handlers/user.ts
  src/pages/Dashboard/index.tsx
  src/pages/Login/index.tsx
  src/pages/account/info/index.tsx
  src/pages/account/settings/index.tsx
  src/pages/admin/index.tsx
  src/pages/workplace/index.tsx
  src/routes.tsx
  src/utils/auth.test.ts
  src/utils/menu.test.ts
  src/utils/menu.ts
  tailwind.css
Due: prettier --cache --write

feat: i18n update
  src/locale/en-US.json
Due: prettier --cache --write

fix: rename Login.tsx to login.tsx
  src/pages/login/Form.tsx
  src/pages/login/index.tsx
Due: none

fix: rename Login.tsx to login.tsx
  src/routes.tsx
Due: none

Delete src/pages/Admin directory
  src/pages/Admin/index.tsx
Due: none

docs: update README
  README.md
Due: prettier --cache --write

Create CNAME
  CNAME
Due: none

chore: deploy to gh pages
  .github/workflows/deploy-docs.yml
  package.json
  pnpm-lock.yaml
  src/main.tsx
Due: prettier --cache --write

fix: add missing cross-env dependency in package.json
  package.json
Due: prettier --cache --write

deploy: d1cf05cc7b864fd3a5ede3256aa82439546727c3
  .nojekyll
  assets/404-DzlBspnG.js
  assets/ChevronDownOutline-DYBNG-C4.js
  assets/MenuConext-hChO2K1d.js
  assets/Sider-DAgz9NXT.js
  assets/browser-DSz6fKgO.js
  assets/index-BB7TufV9.js
  assets/index-BSXb5CKI.js
  assets/index-BwTTBRvZ.css
  assets/index-CD63OBN5.js
  assets/index-CKTRpOF-.js
  assets/index-CTcPZ8Ul.js
  assets/index-D3eVJfdD.js
  assets/index-D4IILcYW.js
  assets/index-GyY3nL2v.js
  assets/index-ssW0yOby.js
  favicon.ico
  index.html
  mockServiceWorker.js
Due: prettier --cache --write, eslint --fix --eslint-only

Delete CNAME
  CNAME
Due: none

deploy: 8121dd7c7300b8dc266a5d9090021e961f6fca75
  CNAME
Due: none

fix: handle unauthorized access in currentUser endpoint
  src/mocks/handlers/user.ts
Due: none

deploy: cbad21ffad56629a6825eec3dbf25d8fa2db2402
  assets/404-ByMXjBrH.js
  assets/404-DzlBspnG.js
  assets/ChevronDownOutline-DtBrbgOZ.js
  assets/MenuConext-BWSPu_ec.js
  assets/MenuConext-hChO2K1d.js
  assets/Sider-Bxp5DVHd.js
  assets/Sider-DAgz9NXT.js
  assets/browser-DtyKLTBr.js
  assets/index-BB7TufV9.js
  assets/index-BHg3kwYw.js
  assets/index-BcSuLI7i.js
  assets/index-CD63OBN5.js
  assets/index-CKTRpOF-.js
  assets/index-CRa9Y60G.js
  assets/index-CybYDyLr.js
  assets/index-D3eVJfdD.js
  assets/index-D4IILcYW.js
  assets/index-D4rY-T68.js
  assets/index-DYDBMnnH.js
  assets/index-F9xl6pK3.js
  assets/index-GyY3nL2v.js
  assets/index-PjZmSu4Q.js
  assets/index-T7WVeLkN.js
  assets/index-ssW0yOby.js
  index.html
Due: prettier --cache --write, eslint --fix --eslint-only

fix: ensure loading state is reset on error in fetchCurrentUser
  src/store/user.ts
Due: none

fix: switch from createBrowserRouter to createHashRouter for routing
  src/routes.tsx
Due: none

deploy: af085cf74fc54421e5cba4701b42bef7202a4c59
  assets/404-ByMXjBrH.js
  assets/404-CN1RrHfe.js
  assets/ChevronDownOutline-Z9jDAdQp.js
  assets/MenuConext-BWSPu_ec.js
  assets/MenuConext-CHLNAZtL.js
  assets/Sider-Bxp5DVHd.js
  assets/Sider-Dg36NDJ-.js
  assets/index-BHg3kwYw.js
  assets/index-BoPr2Ta3.js
  assets/index-C4ZWG3CK.js
  assets/index-C8_WVls_.js
  assets/index-CKsOKhbM.js
  assets/index-CRa9Y60G.js
  assets/index-CybYDyLr.js
  assets/index-D4rY-T68.js
  assets/index-DWX8Tibm.js
  assets/index-DYDBMnnH.js
  assets/index-D_JpN8DC.js
  assets/index-Di0e35GO.js
  assets/index-F9xl6pK3.js
  assets/index-PjZmSu4Q.js
  assets/index-T7WVeLkN.js
  assets/index-zq2JghiJ.js
  assets/index-zup75Vbl.js
  index.html
Due: prettier --cache --write, eslint --fix --eslint-only

style: update dark theme
  src/components/PageContainer/index.tsx
  src/layouts/MainLayout/index.tsx
  src/pages/workplace/index.tsx
  tailwind.css
Due: none

deploy: d5ff4879c3c5031c0888cae82d6d3ae01a209c8e
  assets/404-CN1RrHfe.js
  assets/404-DFZ9LBao.js
  assets/ChevronDownOutline-lI9ngDxT.js
  assets/MenuConext-BqJKjX24.js
  assets/MenuConext-CHLNAZtL.js
  assets/Sider-Cerbc-BS.js
  assets/Sider-Dg36NDJ-.js
  assets/index-B2aMlnoI.js
  assets/index-BA2Q0vaG.js
  assets/index-BK017GXn.js
  assets/index-BU5aQsWZ.js
  assets/index-BoPr2Ta3.js
  assets/index-BwTTBRvZ.css
  assets/index-BwlNx1wj.js
  assets/index-C4ZWG3CK.js
  assets/index-C8uG-s9T.js
  assets/index-CKsOKhbM.js
  assets/index-Cu5fl-QM.css
  assets/index-DWX8Tibm.js
  assets/index-D_JpN8DC.js
  assets/index-DciyfTEI.js
  assets/index-Di0e35GO.js
  assets/index-Dx0kvrdA.js
  assets/index-Ep6mmR2w.js
  assets/index-hZIIZgyY.js
  assets/index-zq2JghiJ.js
  assets/index-zup75Vbl.js
  index.html
Due: prettier --cache --write, eslint --fix --eslint-only

style: update dark theme
  src/layouts/MainLayout/index.tsx
Due: none

fix: rm test code
  src/pages/workplace/index.tsx
Due: none

deploy: c7c2d7ff2409827ae51dc6d2a48418edf871ddff
  assets/404-B9kmpbTo.js
  assets/404-DFZ9LBao.js
  assets/ChevronDownOutline-DM1ko0G0.js
  assets/MenuConext-BqJKjX24.js
  assets/MenuConext-DWaxh9P7.js
  assets/Sider-BrbQuS5z.js
  assets/Sider-Cerbc-BS.js
  assets/index-B2aMlnoI.js
  assets/index-BA2Q0vaG.js
  assets/index-BK017GXn.js
  assets/index-BU5aQsWZ.js
  assets/index-BwlNx1wj.js
  assets/index-C8uG-s9T.js
  assets/index-CYAaOHTM.js
  assets/index-CanAdcas.js
  assets/index-Cu5fl-QM.css
  assets/index-DESCPZTy.js
  assets/index-DPHVawHi.js
  assets/index-DRRObSxF.js
  assets/index-DTGLG8LX.js
  assets/index-DTSoA5jl.css
  assets/index-DciyfTEI.js
  assets/index-DsIkCoCj.js
  assets/index-Dx0kvrdA.js
  assets/index-Ep6mmR2w.js
  assets/index-cE3sce74.js
  assets/index-lT3_dItn.js
  index.html
Due: prettier --cache --write, eslint --fix --eslint-only

refactor: remove unused start:dev and start:test scripts
  package.json
Due: prettier --cache --write

refactor: remove preinstall script for pnpm
  package.json
Due: prettier --cache --write

style: style update
  package.json
  pnpm-lock.yaml
  src/pages/account/info/index.tsx
  src/pages/account/settings/index.tsx
  src/pages/workplace/index.tsx
Due: prettier --cache --write

deploy: 3b4e72569db024c1973bc0c1f06c996a39851901
  assets/404-B9kmpbTo.js
  assets/404-BAKQ6oXb.js
  assets/ChevronDownOutline-CEzug0Y1.js
  assets/MenuConext-CkSN_PA4.js
  assets/MenuConext-DWaxh9P7.js
  assets/Sider-BrbQuS5z.js
  assets/Sider-D3n8-3Hl.js
  assets/browser-Cero5F46.js
  assets/browser-DtyKLTBr.js
  assets/index-6Pt_wozB.js
  assets/index-BYkeqqx9.css
  assets/index-BtrlGZly.js
  assets/index-COQ4Flqj.js
  assets/index-CXVAN6i7.js
  assets/index-CYAaOHTM.js
  assets/index-CanAdcas.js
  assets/index-Cy8I5p0L.js
  assets/index-DESCPZTy.js
  assets/index-DMirxzyX.js
  assets/index-DPHVawHi.js
  assets/index-DRRObSxF.js
  assets/index-DTGLG8LX.js
  assets/index-DTSoA5jl.css
  assets/index-DmBMKTtm.js
  assets/index-DsIkCoCj.js
  assets/index-FyeWuct2.js
  assets/index-ZVI5B3R1.js
  assets/index-cE3sce74.js
  assets/index-lT3_dItn.js
  index.html
  mockServiceWorker.js
Due: prettier --cache --write, eslint --fix --eslint-only

refactor: update linting options in tsconfig files
  tsconfig.app.json
  tsconfig.node.json
Due: prettier --cache --write

chore: remove VITE_API_PREFIX from .env and set baseURL to '/api'
  .env
  src/utils/request.ts
Due: none

chore: bump metis-ui to 1.2.1
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: update vite.config.ts to load environment variables based on mode
  vite.config.ts
Due: none

refactor: enhance PageContainer component with semantic class handling and props
  src/components/PageContainer/index.tsx
Due: none

refactor: simplify user permissions handling in MainLayout
  src/layouts/MainLayout/index.tsx
Due: none

refactor: add ThemeSwitch component to the Login page
  src/pages/login/index.tsx
Due: none

deploy: adeda7623017d983e9889b290df0161241986890
  assets/404-BAKQ6oXb.js
  assets/404-DjeQIshf.js
  assets/ChevronDownOutline-btknPzPq.js
  assets/Dropdown-DhUqZZ99.js
  assets/MenuConext-2gqVLFCC.js
  assets/MenuConext-CkSN_PA4.js
  assets/Sider-D3n8-3Hl.js
  assets/browser-Cero5F46.js
  assets/browser-DtyKLTBr.js
  assets/index-40dm5OYn.css
  assets/index-6Pt_wozB.js
  assets/index-BO5UqqYm.js
  assets/index-BYkeqqx9.css
  assets/index-BtrlGZly.js
  assets/index-CF2cwRL8.js
  assets/index-COQ4Flqj.js
  assets/index-CVv40b-1.js
  assets/index-CXVAN6i7.js
  assets/index-Cy8I5p0L.js
  assets/index-CyxOCvKD.js
  assets/index-DMirxzyX.js
  assets/index-DaZBYVtE.js
  assets/index-DmBMKTtm.js
  assets/index-Er4dFprg.js
  assets/index-FyeWuct2.js
  assets/index-Ymxt1ccD.js
  assets/index-ZVI5B3R1.js
  assets/index-fFck_7eE.js
  assets/index-jxmV56ba.js
  index.html
  mockServiceWorker.js
Due: prettier --cache --write, eslint --fix --eslint-only

refactor(menu): update formatter function to return empty array for no formatted children
  src/utils/menu.ts
Due: none

Path conditions:
  prettier --cache --write: (any of: *.{md,json}) or (any of: *.{js,jsx})
  eslint --fix --eslint-only: any of: *.{js,jsx}
